* {
    margin: 0;
    padding: 0;
}


.menu {
    color: #aac6ea;
    display: flex;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    gap: 5rem;
}

.header {

    background-color: #dee6f1;
    padding: 30px;
    font-size:30px;
    text-align: center;
}

a {
    text-decoration: none;
}

.recipe {
    border: 5px solid #f3eeee;
    background: #f6f2f0;
    margin: 2rem;
}